body {
    color: hsl(248, 6%, 28%);
    background: hsl(267, 62%, 16%);
    margin: 0px;
}

header {
    border-bottom: solid 2px hsl(0, 66%, 9%);
    padding: 20px;
    font-size: 32px;
    color: #14050f;
}

.chamada {
    background: hsl(221, 79%, 54%);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

footer {
    background-color: #060107;
    color: hsl(208, 5%, 53%);
    bottom: 0;
    position: fixed;
    width: 100%;
}

footer p {
    text-align: center;
    font-size: 14px;
    margin-top: 3px;
}
